:root {
  --text-color: #4d4d4d;
  --title-color: #000;
  --accent-color: #fdda45;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  color: var(--text-color);
  /* padding-top: 108px; */
}
h1,
h2,
h3,
h4,
h5 h6,
p {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.section--hero {
  position: relative;
  height: 100vh;
  /* background-color: cyan; */
  padding-top: 137px;
  padding-bottom: 211px;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container--outer {
  max-width: 1750px;
}
.page-header {
  /* outline: solid 1px rebeccapurple; */
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 50;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1750px;
  background-color: #fff;
}
.navigation-menu {
  display: flex;
  align-items: center;
  /* height: 108px; */
  padding-left: 15px;
  padding-right: 15px;
}

.navigation-menu__list {
  display: flex;
  margin-left: auto;
}

.navigation-menu__link {
  position: relative;
  display: inline-block;
  padding-top: 42px;
  padding-bottom: 42px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--title-color);
  text-decoration: none;
  transition: color 250ms linear;
}
.navigation-menu__link--current::after {
  position: absolute;

  content: '';
  background-color: currentColor;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 3px;
}
.navigation-menu__link:hover,
.navigation-menu__link:focus {
  color: var(--accent-color);
}

.navigation-menu__item:not(:last-child) {
  margin-right: 50px;
}
/* Hero-section */

.flex-container-hero {
  display: flex;
}
.lap-top {
  position: relative;
}
.lap-top__img {
  width: 804px;
}

.portfolio-frame {
  position: absolute;
  top: 37px;
  left: 75px;
  z-index: 2;
  width: 657px;
  height: 407px;
  overflow: hidden;
}
.portfolio-frame__image {
  position: absolute;
  top: 0;
  width: 657px;
  transition: transform 500ms ease;
}
.portfolio-frame:hover .portfolio-frame__image {
  transform: translateY(-407px);
}
.tagline-content {
  margin-left: 30px;
  /* outline: 1px solid; */
  position: relative;
  width: 845px;
  height: 596px;
  font-family: 'Oswald', sans-serif;
  color: var(--title-color);
}
.tagline-content__goal {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;

  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: 140px;
  line-height: 0.93;
  text-transform: uppercase;
}

.tagline-content__goal span {
  color: var(--accent-color);
}
.tagline-content__go {
  position: absolute;
  left: 65px;
  top: -50px;
  font-weight: 700;
  font-size: 550px;
  line-height: 1;
  color: var(--accent-color);
}
.tagline-content__forward {
  position: absolute;
  top: 0;
  right: 55px;

  font-weight: 800;
  font-size: 80px;
}
.about-me-button {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 200%);
  display: block;
  padding: 17px 100px;
  color: #fff;
  background-color: #000;
  border-radius: 30px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1;
  text-decoration: none;
  transition: color 250ms linear;
}
.about-me-button:hover,
.about-me-button:focus {
  color: var(--accent-color);
}
.social-link {
  display: block;
  position: absolute;
  left: 15px;
  bottom: 15px;
  text-decoration: none;
  color: var(--title-color);
  transition: color 250ms linear;
}
.social-link__icon {
  fill: currentColor;
}

.social-link:hover {
  color: var(--accent-color);
}
